/* your styles will go here!! */

/* global */

h1 {
    color: #000;
    font-family: Prata;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav a {
    color: #000000;
    font-family: Prata;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 10px;
}
